<!DOCTYPE html>
<html>
<head>
    <title>TA Table</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                url: '/api/tas',
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('access_token')
                },
                success: function(data) {
                    $('#tas-list').html(JSON.stringify(data));
                },
                error: function(xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        });
    </script>
</head>
<body>
    <h1>TA Table</h1>
    <div id="tas-list"></div>
</body>
</html>
